In [ ]:
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Create tables (department first since employees references it)
cursor.execute('''
    CREATE TABLE department (
        dept_id INTEGER PRIMARY KEY,
        dept_name TEXT
    )
''')

cursor.execute('''
    CREATE TABLE employees (
        emp_id INTEGER PRIMARY KEY,
        emp_name TEXT,
        dept_id INTEGER,
        salary INTEGER,
        gender TEXT,
        join_date DATE,
        FOREIGN KEY(dept_id) REFERENCES department(dept_id)
    )
''')

cursor.execute('''
    CREATE TABLE projects (
        project_id INTEGER PRIMARY KEY,
        project_name TEXT,
        project_budget INTEGER,
        start_date DATE,
        end_date DATE,
        status TEXT
    )
''')

cursor.execute('''
    CREATE TABLE employee_projects (
        emp_id INTEGER,
        project_id INTEGER,
        project_role TEXT,
        hours_worked INTEGER,
        assignment_date DATE,
        FOREIGN KEY(emp_id) REFERENCES employees(emp_id),
        FOREIGN KEY(project_id) REFERENCES projects(project_id)
    )
''')

# Insert departments
cursor.executemany('''
    INSERT INTO department (dept_id, dept_name) VALUES (?, ?)
''', [
    (101, 'HR'),
    (102, 'IT'),
    (103, 'Finance'),
    (104, 'Sales'),
    (105, 'Finance'),
    (106, 'Marketing'),
    (107, 'Operations'),
    (108, 'Research & Development'),
    (109, 'Customer Support'),
    (110, 'Quality Assurance')
])

# Insert employees (all fields now included)
cursor.executemany('''
    INSERT INTO employees (emp_id, emp_name, dept_id, salary, gender, join_date)
    VALUES (?, ?, ?, ?, ?, ?)
''', [
    (1, 'Ali', 101, 5000, 'M', '2021-05-01'),
    (2, 'Mohd', 102, 6000, 'M', '2020-03-15'),
    (3, 'Rahul', 103, 5500, 'M', '2022-01-10'),
    (4, 'Raj', None, 4500, 'M', '2021-11-22'),
    (5, 'Ahmed', 105, 6500, 'M', '2020-07-30'),
    (6, 'Sneha', 104, 5200, 'F', '2022-02-18'),
    (7, 'John', 106, 7000, 'M', '2019-09-05'),
    (8, 'Priya', 108, 5800, 'F', '2021-08-12'),
    (9, 'David', 102, 6200, 'M', '2020-11-30'),
    (10, 'Anjali', 109, 4800, 'F', '2022-03-25'),
    (11, 'Michael', 110, 5300, 'M', '2021-07-14'),
    (12, 'Sophia', 107, 5900, 'F', '2020-05-20'),
    (13, 'Robert', 103, 6700, 'M', '2019-12-05'),
    (14, 'Emma', 106, 5400, 'F', '2022-01-15'),
    (15, 'Daniel', 108, 7100, 'M', '2020-09-10')
])

# Insert projects (all fields now included)
cursor.executemany('''
    INSERT INTO projects (project_id, project_name, project_budget, start_date, end_date, status)
    VALUES (?, ?, ?, ?, ?, ?)
''', [
    (201, 'Project Alpha', 100000, '2023-01-15', '2023-06-30', 'Completed'),
    (202, 'Project Beta', 150000, '2023-03-01', '2023-08-15', 'In Progress'),
    (203, 'Project Gamma', 80000, '2023-02-10', '2023-05-20', 'Completed'),
    (204, 'Project Delta', 120000, '2023-04-05', '2023-09-30', 'In Progress'),
    (205, 'Project Epsilon', 90000, '2023-05-15', '2023-10-10', 'In Progress'),
    (206, 'Project Zeta', 75000, '2023-06-01', '2023-11-15', 'Not Started'),
    (207, 'Project Omega', 200000, '2023-07-10', '2024-01-20', 'Not Started')
])

# Insert employee_projects (all fields now included)
cursor.executemany('''
    INSERT INTO employee_projects (emp_id, project_id, project_role, hours_worked, assignment_date)
    VALUES (?, ?, ?, ?, ?)
''', [
    (1, 201, 'Manager', 120, '2023-01-10'),
    (2, 201, 'Developer', 180, '2023-01-10'),
    (7, 201, 'Developer', 140, '2023-01-15'),
    (9, 201, 'QA Engineer', 90, '2023-01-20'),
    (12, 201, 'Business Analyst', 75, '2023-01-12'),
    (3, 202, 'Analyst', 150, '2023-02-25'),
    (4, 202, 'Developer', 200, '2023-02-25'),
    (8, 202, 'UI Designer', 110, '2023-03-01'),
    (13, 202, 'Finance Consultant', 60, '2023-03-05'),
    (15, 202, 'Tech Lead', 180, '2023-02-28'),
    (5, 203, 'Manager', 90, '2023-02-05'),
    (6, 203, 'Designer', 160, '2023-02-05'),
    (10, 203, 'Tester', 85, '2023-02-15'),
    (11, 203, 'QA Lead', 95, '2023-02-10'),
    (2, 204, 'Senior Developer', 200, '2023-04-01'),
    (7, 204, 'Project Manager', 150, '2023-04-01'),
    (9, 204, 'Architect', 180, '2023-04-05'),
    (14, 204, 'Marketing Specialist', 70, '2023-04-10'),
    (1, 205, 'HR Consultant', 60, '2023-05-10'),
    (3, 205, 'Financial Analyst', 120, '2023-05-10'),
    (5, 205, 'Coordinator', 100, '2023-05-15'),
    (12, 205, 'Operations Manager', 130, '2023-05-12'),
    (4, 206, 'Developer', 0, '2023-05-30'),
    (6, 206, 'Designer', 0, '2023-05-30'),
    (8, 206, 'UI Specialist', 0, '2023-06-01'),
    (10, 207, 'Support Lead', 0, '2023-06-15'),
    (11, 207, 'QA Manager', 0, '2023-06-15'),
    (13, 207, 'Finance Lead', 0, '2023-06-20'),
    (15, 207, 'Technical Director', 0, '2023-06-18')
])

conn.commit()

In [ ]:
import pandas as pd

query = "SELECT * FROM projects"

df = pd.read_sql_query(query, conn)
df

,project_id,project_name,project_budget,start_date,end_date,status
0,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
1,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
2,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
3,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
4,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
5,206,Project Zeta,75000,2023-06-01,2023-11-15,Not Started
6,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started

Find the name of employee working on 'Project Alfa'

In [ ]:
query = '''
select e.emp_name
from employees e
JOIN employee_projects ep ON  e.emp_id = ep.emp_id
JOIN projects p ON ep.project_id = p.project_id
Where p.project_name = 'Project Alpha'
'''
df = pd.read_sql_query(query, conn)
df

  emp_name
0      Ali
1     Mohd
2     John
3    David
4   Sophia

Find all department and the number of employee in each

In [ ]:
query = '''
select d.dept_name, count(e.emp_id) as num_of_employee
from department d
LEFT JOIN employees e ON d.dept_id =e.dept_id
GROUP  BY d.dept_name
'''

df = pd.read_sql_query(query, conn)
df

                dept_name  num_of_employee
0        Customer Support                1
1                 Finance                3
2                      HR                1
3                      IT                2
4               Marketing                2
5              Operations                1
6       Quality Assurance                1
7  Research & Development                2
8                   Sales                1

Find the name of employess who are not assigned to any deparment

In [ ]:
query = '''
select emp_name
from employees
where dept_id IS NULL
'''
df = pd.read_sql_query(query, conn)
df

  emp_name
0      Raj

Find Employees  who are working on more than one project.

In [ ]:
query='''
select e.emp_name, Count(ep.project_id) as project_count
from employees e
JOIN employee_projects ep ON e.emp_id = ep.emp_id
Group by e.emp_id, e.emp_name
Having count(ep.project_id)<=1
'''

df = pd.read_sql_query(query, conn)
df

  emp_name  project_count
0     Emma              1

Find employees who are not woking on any project.

In [ ]:
query = '''
select e.emp_name
from employees e
Left JOIN employee_projects ep ON e.emp_id = ep.emp_id
where ep.project_id IS NULL
'''

df = pd.read_sql_query(query, conn)
df

Empty DataFrame
Columns: [emp_name]
Index: []

Find the employee(s) working in the same department as 'ALI'

In [ ]:
query='''
select emp_name
from employees
where dept_id =(
  select dept_id
  from employees
  where emp_name = 'Ali'
)
and emp_name !='Ali'
'''

df = pd.read_sql_query(query, conn)
df

Empty DataFrame
Columns: [emp_name]
Index: []

INNER JOIN :

Only matching rows from both tables

i want record that exist in both tables


LEFT JOIN:

Nested Query (Subqueries) : A nested query is a SQL query inside another query.

Find employees who are working on same projects as Rahul

In [ ]:
query='''
select Distinct e.emp_name
from employees e
JOIN employee_projects ep ON e.emp_id = ep.emp_id
where ep.project_id IN (
  select ep.project_id
  from employee_projects ep
  JOIN employees e ON ep.emp_id = e.emp_id
  Where e.emp_name='Rahul'
)
'''
df = pd.read_sql_query(query, conn)
df

  emp_name
0    Rahul
1      Raj
2    Priya
3   Robert
4   Daniel
5      Ali
6    Ahmed
7   Sophia

List employee whose department has the higest number of employees

Count employees per department
Find the department’s with max count
LIST ALL employees FROM THAT departments

In [ ]:
query='''
select  d.dept_name
from employees e
JOIN department d ON e.dept_id = d.dept_id
where e.dept_id =(
  select dept_id
  from (
    select dept_id,count(*) as emp_count
    from employees
    where dept_id IS NOT NULL
    group by dept_id
    order by emp_count desc
    LIMIT 1
  )

)
'''

df = pd.read_sql_query(query, conn)
df

                dept_name
0  Research & Development
1  Research & Development

Display the name of departments that have no employees

In [ ]:
query = '''
select d.dept_name
from department d
LEFT JOIN employees e ON d.dept_id = e.dept_id
where e.emp_id IS NULL
'''

df = pd.read_sql_query(query, conn)
df

Empty DataFrame
Columns: [dept_name]
Index: []

List of projects that have the most number of employees working on them

In [ ]:
query = '''
select p.project_name,count(ep.emp_id) as eployee_count
from projects p
JOIN employee_projects ep ON p.project_id = ep.project_id
group by p.project_id,p.project_name
Having Count(ep.emp_id) = (
  select MAX(emp_count)
  from (
    select project_id ,count(emp_id) as emp_count
    from employee_projects
    Group by project_id
  )
)
'''
df = pd.read_sql_query(query, conn)
df

    project_name  eployee_count
0  Project Alpha              5
1   Project Beta              5

In [ ]:
query = '''
select *
from employees e
Left Join department d ON e.dept_id = d.dept_id
LEFT join employee_projects ep ON e.emp_id = ep.emp_id
LEFT Join projects p ON ep.project_id = p.project_id
'''

df = pd.read_sql_query(query, conn)
df

,emp_id,emp_name,dept_id,salary,gender,join_date,dept_id,dept_name,emp_id,project_id,project_role,hours_worked,assignment_date,project_id,project_name,project_budget,start_date,end_date,status
0,1,Ali,101.0,5000,M,2021-05-01,101.0,HR,1,201,Manager,120,2023-01-10,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
1,1,Ali,101.0,5000,M,2021-05-01,101.0,HR,1,205,HR Consultant,60,2023-05-10,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
2,2,Mohd,102.0,6000,M,2020-03-15,102.0,IT,2,201,Developer,180,2023-01-10,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
3,2,Mohd,102.0,6000,M,2020-03-15,102.0,IT,2,204,Senior Developer,200,2023-04-01,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
4,3,Rahul,103.0,5500,M,2022-01-10,103.0,Finance,3,202,Analyst,150,2023-02-25,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
5,3,Rahul,103.0,5500,M,2022-01-10,103.0,Finance,3,205,Financial Analyst,120,2023-05-10,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
6,4,Raj,NaN,4500,M,2021-11-22,NaN,None,4,202,Developer,200,2023-02-25,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
7,4,Raj,NaN,4500,M,2021-11-22,NaN,None,4,206,Developer,0,2023-05-30,206,Project Zeta,75000,2023-06-01,2023-11-15,Not Started
8,5,Ahmed,105.0,6500,M,2020-07-30,105.0,Finance,5,203,Manager,90,2023-02-05,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
9,5,Ahmed,105.0,6500,M,2020-07-30,105.0,Finance,5,205,Coordinator,100,2023-05-15,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
10,6,Sneha,104.0,5200,F,2022-02-18,104.0,Sales,6,203,Designer,160,2023-02-05,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
11,6,Sneha,104.0,5200,F,2022-02-18,104.0,Sales,6,206,Designer,0,2023-05-30,206,Project Zeta,75000,2023-06-01,2023-11-15,Not Started
12,7,John,106.0,7000,M,2019-09-05,106.0,Marketing,7,201,Developer,140,2023-01-15,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
13,7,John,106.0,7000,M,2019-09-05,106.0,Marketing,7,204,Project Manager,150,2023-04-01,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
14,8,Priya,108.0,5800,F,2021-08-12,108.0,Research & Development,8,202,UI Designer,110,2023-03-01,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
15,8,Priya,108.0,5800,F,2021-08-12,108.0,Research & Development,8,206,UI Specialist,0,2023-06-01,206,Project Zeta,75000,2023-06-01,2023-11-15,Not Started
16,9,David,102.0,6200,M,2020-11-30,102.0,IT,9,201,QA Engineer,90,2023-01-20,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
17,9,David,102.0,6200,M,2020-11-30,102.0,IT,9,204,Architect,180,2023-04-05,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
18,10,Anjali,109.0,4800,F,2022-03-25,109.0,Customer Support,10,203,Tester,85,2023-02-15,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
19,10,Anjali,109.0,4800,F,2022-03-25,109.0,Customer Support,10,207,Support Lead,0,2023-06-15,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started
20,11,Michael,110.0,5300,M,2021-07-14,110.0,Quality Assurance,11,203,QA Lead,95,2023-02-10,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
21,11,Michael,110.0,5300,M,2021-07-14,110.0,Quality Assurance,11,207,QA Manager,0,2023-06-15,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started
22,12,Sophia,107.0,5900,F,2020-05-20,107.0,Operations,12,201,Business Analyst,75,2023-01-12,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
23,12,Sophia,107.0,5900,F,2020-05-20,107.0,Operations,12,205,Operations Manager,130,2023-05-12,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
24,13,Robert,103.0,6700,M,2019-12-05,103.0,Finance,13,202,Finance Consultant,60,2023-03-05,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
25,13,Robert,103.0,6700,M,2019-12-05,103.0,Finance,13,207,Finance Lead,0,2023-06-20,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started
26,14,Emma,106.0,5400,F,2022-01-15,106.0,Marketing,14,204,Marketing Specialist,70,2023-04-10,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
27,15,Daniel,108.0,7100,M,2020-09-10,108.0,Research & Development,15,202,Tech Lead,180,2023-02-28,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
28,15,Daniel,108.0,7100,M,2020-09-10,108.0,Research & Development,15,207,Technical Director,0,2023-06-18,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started

In [ ]:
df=pd.read_sql_query( '''
select *
from employees e
Left Join department d ON e.dept_id = d.dept_id
LEFT join employee_projects ep ON e.emp_id = ep.emp_id
LEFT Join projects p ON ep.project_id = p.project_id
''', conn)

In [ ]:
df

,emp_id,emp_name,dept_id,salary,gender,join_date,dept_id,dept_name,emp_id,project_id,project_role,hours_worked,assignment_date,project_id,project_name,project_budget,start_date,end_date,status
0,1,Ali,101.0,5000,M,2021-05-01,101.0,HR,1,201,Manager,120,2023-01-10,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
1,1,Ali,101.0,5000,M,2021-05-01,101.0,HR,1,205,HR Consultant,60,2023-05-10,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
2,2,Mohd,102.0,6000,M,2020-03-15,102.0,IT,2,201,Developer,180,2023-01-10,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
3,2,Mohd,102.0,6000,M,2020-03-15,102.0,IT,2,204,Senior Developer,200,2023-04-01,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
4,3,Rahul,103.0,5500,M,2022-01-10,103.0,Finance,3,202,Analyst,150,2023-02-25,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
5,3,Rahul,103.0,5500,M,2022-01-10,103.0,Finance,3,205,Financial Analyst,120,2023-05-10,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
6,4,Raj,NaN,4500,M,2021-11-22,NaN,None,4,202,Developer,200,2023-02-25,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
7,4,Raj,NaN,4500,M,2021-11-22,NaN,None,4,206,Developer,0,2023-05-30,206,Project Zeta,75000,2023-06-01,2023-11-15,Not Started
8,5,Ahmed,105.0,6500,M,2020-07-30,105.0,Finance,5,203,Manager,90,2023-02-05,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
9,5,Ahmed,105.0,6500,M,2020-07-30,105.0,Finance,5,205,Coordinator,100,2023-05-15,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
10,6,Sneha,104.0,5200,F,2022-02-18,104.0,Sales,6,203,Designer,160,2023-02-05,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
11,6,Sneha,104.0,5200,F,2022-02-18,104.0,Sales,6,206,Designer,0,2023-05-30,206,Project Zeta,75000,2023-06-01,2023-11-15,Not Started
12,7,John,106.0,7000,M,2019-09-05,106.0,Marketing,7,201,Developer,140,2023-01-15,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
13,7,John,106.0,7000,M,2019-09-05,106.0,Marketing,7,204,Project Manager,150,2023-04-01,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
14,8,Priya,108.0,5800,F,2021-08-12,108.0,Research & Development,8,202,UI Designer,110,2023-03-01,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
15,8,Priya,108.0,5800,F,2021-08-12,108.0,Research & Development,8,206,UI Specialist,0,2023-06-01,206,Project Zeta,75000,2023-06-01,2023-11-15,Not Started
16,9,David,102.0,6200,M,2020-11-30,102.0,IT,9,201,QA Engineer,90,2023-01-20,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
17,9,David,102.0,6200,M,2020-11-30,102.0,IT,9,204,Architect,180,2023-04-05,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
18,10,Anjali,109.0,4800,F,2022-03-25,109.0,Customer Support,10,203,Tester,85,2023-02-15,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
19,10,Anjali,109.0,4800,F,2022-03-25,109.0,Customer Support,10,207,Support Lead,0,2023-06-15,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started
20,11,Michael,110.0,5300,M,2021-07-14,110.0,Quality Assurance,11,203,QA Lead,95,2023-02-10,203,Project Gamma,80000,2023-02-10,2023-05-20,Completed
21,11,Michael,110.0,5300,M,2021-07-14,110.0,Quality Assurance,11,207,QA Manager,0,2023-06-15,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started
22,12,Sophia,107.0,5900,F,2020-05-20,107.0,Operations,12,201,Business Analyst,75,2023-01-12,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
23,12,Sophia,107.0,5900,F,2020-05-20,107.0,Operations,12,205,Operations Manager,130,2023-05-12,205,Project Epsilon,90000,2023-05-15,2023-10-10,In Progress
24,13,Robert,103.0,6700,M,2019-12-05,103.0,Finance,13,202,Finance Consultant,60,2023-03-05,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
25,13,Robert,103.0,6700,M,2019-12-05,103.0,Finance,13,207,Finance Lead,0,2023-06-20,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started
26,14,Emma,106.0,5400,F,2022-01-15,106.0,Marketing,14,204,Marketing Specialist,70,2023-04-10,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
27,15,Daniel,108.0,7100,M,2020-09-10,108.0,Research & Development,15,202,Tech Lead,180,2023-02-28,202,Project Beta,150000,2023-03-01,2023-08-15,In Progress
28,15,Daniel,108.0,7100,M,2020-09-10,108.0,Research & Development,15,207,Technical Director,0,2023-06-18,207,Project Omega,200000,2023-07-10,2024-01-20,Not Started

Sort by salary (desc)

In [ ]:
df[['emp_name','salary']].drop_duplicates().sort_values(by='salary',ascending=False)

   emp_name  salary
27   Daniel    7100
12     John    7000
24   Robert    6700
8     Ahmed    6500
16    David    6200
2      Mohd    6000
22   Sophia    5900
14    Priya    5800
4     Rahul    5500
26     Emma    5400
20  Michael    5300
10    Sneha    5200
0       Ali    5000
18   Anjali    4800
6       Raj    4500

Employess from 'it' department with salary >5000

In [ ]:
df[(df['dept_name']=='IT')& (df['salary']>5000)]

,emp_id,emp_name,dept_id,salary,gender,join_date,dept_id,dept_name,emp_id,project_id,project_role,hours_worked,assignment_date,project_id,project_name,project_budget,start_date,end_date,status
2,2,Mohd,102.0,6000,M,2020-03-15,102.0,IT,2,201,Developer,180,2023-01-10,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
3,2,Mohd,102.0,6000,M,2020-03-15,102.0,IT,2,204,Senior Developer,200,2023-04-01,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress
16,9,David,102.0,6200,M,2020-11-30,102.0,IT,9,201,QA Engineer,90,2023-01-20,201,Project Alpha,100000,2023-01-15,2023-06-30,Completed
17,9,David,102.0,6200,M,2020-11-30,102.0,IT,9,204,Architect,180,2023-04-05,204,Project Delta,120000,2023-04-05,2023-09-30,In Progress

Show all project with their budget and start date

In [ ]:
query = '''
select project_name,
project_budget,
start_date
from projects
'''

df = pd.read_sql_query(query, conn)
df

      project_name  project_budget  start_date
0    Project Alpha          100000  2023-01-15
1     Project Beta          150000  2023-03-01
2    Project Gamma           80000  2023-02-10
3    Project Delta          120000  2023-04-05
4  Project Epsilon           90000  2023-05-15
5     Project Zeta           75000  2023-06-01
6    Project Omega          200000  2023-07-10

Show employees with the same joining date

In [ ]:
pd.read_sql_query('''
select e1.emp_name,
e2.emp_name,
e1.join_date
from employees e1
Join employees e2
ON e1.join_date =e2.join_date
And e1.emp_id < e2.emp_id
ORDER BY e1.join_date
''', conn)

Empty DataFrame
Columns: [emp_name, emp_name, join_date]
Index: []

In [ ]:
pd.read_sql_query('''
select
e.emp_id,
e.emp_name,
CASE
when ep.project_id IS NOT NULL THEN 'YES'
ELSE 'NO"
END as is_assigned_to_project
From employees e
Left Join employee_projects ep ON e.emp_id = ep.emp_id
group by e.emp_id
''', conn)

DatabaseError: Execution failed on sql '
select
e.emp_id,
e.emp_name,
CASE
when ep.project_id IS NOT NULL THEN 'YES'
ELSE 'NO"
END as is_assigned_to_project
From employees e
Left Join employee_projects ep ON e.emp_id = ep.emp_id
group by e.emp_id
': unrecognized token: "'NO"
END as is_assigned_to_project
From employees e
Left Join employee_projects ep ON e.emp_id = ep.emp_id
group by e.emp_id
"

self Join : a self join is the join where a table joined with itself

List all employee and there project name?

In [ ]:
query = '''
select e.emp_name,p.project_name
from employees e
LEFT JOIN employee_projects ep ON e.emp_id = ep.emp_id
LEFT JOIN projects p ON ep.project_id = p.project_id
'''

df = pd.read_sql_query(query, conn)
df

employee without project

In [ ]:
query = '''
select e.emp_name
from employees e
LEFT JOIN employee_projects ep ON e.emp_id = ep.emp_id
where ep.project_id IS NULL
'''

df = pd.read_sql_query(query, conn)
df

Project with multiple employee

In [ ]:
query = '''
select p.project_name, count(emp_id) as num_employes
from projects p
JOIN employee_projects ep ON p.project_id = ep.project_id
GROUP BY p.project_id
HAVING count(ep.emp_id) > 1
'''

df = pd.read_sql_query(query, conn)
df

FULL OUTER JOIN (with UNION)

List all employees and projects

In [ ]:
query = '''
select e.emp_name,p.project_name
from employees e
LEFT JOIN employee_projects ep ON e.emp_id = ep.emp_id
LEFT JOIN projects p ON ep.project_id = p.project_id

UNION

select e.emp_name,p.project_name
from projects p
LEFT JOIN employee_projects ep ON p.project_id = ep.project_id
LEFT JOIN employees e ON ep.emp_id = e.emp_id
'''

df = pd.read_sql_query(query, conn)
df

show department with average salary above 5000

In [ ]:
query = '''
select d.dept_name,AVG(e.salary) as avy_salary
from department d
join employees e ON d.dept_id=e.dept_id
group by d.dept_id
HAVING avg(e.salary) > 5000
'''

df = pd.read_sql_query(query, conn)
df

which department has the  most employees working on project?

In [ ]:
query = '''
select d.dept_name,count(distinct e.emp_id) as employee_count
from department d
JOIN employees e ON d.dept_id=e.dept_id
JOIN employee_projects ep ON e.emp_id = ep.emp_id
group by d.dept_id
order by employee_count desc
'''

df = pd.read_sql_query(query, conn)
df

Show the latest joiner in each department

In [ ]:
query = '''
select e1.dept_id,d.dept_name,e1.emp_name,e1.join_date
from employees e1
JOIN department  d ON e1.dept_id =d.dept_id
where join_date = (
  select MAX(e2.join_date)
  from employees e2
  where e1.dept_id = e2.dept_id
)
'''

df = pd.read_sql_query(query, conn)
df

SELECT & FINTERING

JOIN

AGGREGATE FUNTION

GROUP BY & HAVING

CASE STATEMENT

UNION & INTERSECT

EXITS

Any and all

COUNT THE employee IN EACH DEPARTMENT

In [ ]:
query = '''
select d.dept_name, COUNT(e.emp_id) as num_employes
from department d
LEFT JOIN employees e ON d.dept_id = e.dept_id
Group by d.dept_id;

'''

df = pd.read_sql_query(query, conn)
df

Total hours worked by each employees

In [ ]:
query = '''
select e.emp_name,SUM(ep.hours_worked) as total_hours
from employees e
JOIN employee_projects ep ON e.emp_id = ep.emp_id
group by e.emp_id
'''

df = pd.read_sql_query(query, conn)
df

Average salary per department

In [ ]:
query = '''
select d.dept_name, AVG(e.salary) as avg_salary
from employees e
JOIN department d ON e.dept_id = d.dept_id
GROUP BY d.dept_id
'''

df = pd.read_sql_query(query, conn)
df

MAX & MIN salary in each department

In [ ]:
query = '''
select d.dept_name,
MAX(e.salary) as max_salary,
MIN(e.salary) as min_salary
from department d
JOIN employees e ON d.dept_id = e.dept_id
group by d.dept_id;
'''

df = pd.read_sql_query(query, conn)
df

Total Hours worked per Department

In [ ]:
query = '''
select d.dept_name,SUM(ep.hours_worked) as dept_hours
from department d
JOIN employees e ON d.dept_id = e.dept_id
JOIN employee_projects ep ON e.emp_id = ep.emp_id
Group by d.dept_id
'''

df = pd.read_sql_query(query, conn)
df

Employees  who worked more than 100 hours tatal

In [ ]:
query = '''
select e.emp_name ,SUM(ep.hours_worked) as total_hours
from employees e
JOIN employee_projects ep ON e.emp_id = ep.emp_id
Group by e.emp_id
Having total_hours > 100

'''

df = pd.read_sql_query(query, conn)
df

Total number of project per employees

In [ ]:
query = '''
select e.emp_name, COUNT(ep.project_id) as project_count
from employees e
LEFT JOIN employee_projects ep ON e.emp_id = ep.emp_id
GROUP BY e.emp_id

'''

df = pd.read_sql_query(query, conn)
df

FIND THE AVERAGE HOURS WORKED BY employee IN EACH department

In [ ]:
query = '''
SELECT d.dept_name, AVG(ep.hours_worked) AS avg_hours
FROM department d
JOIN employees e ON d.dept_id = e.dept_id
JOIN employee_projects ep ON e.emp_id = ep.emp_id
GROUP BY d.dept_id;
'''

df = pd.read_sql_query(query, conn)
df

TOTAL NUMBER OF departments THAT HAVE MORE THAN 1 employees

In [ ]:
query = '''
SELECT d.dept_name, COUNT(e.emp_id) AS employee_count
FROM employees e
JOIN department d ON e.dept_id = d.dept_id
GROUP BY d.dept_id
HAVING COUNT(e.emp_id) > 1;

'''
df = pd.read_sql_query(query, conn)
df

FOR EACH PROJECT ,FIND HOW MANY departments are involved

In [ ]:
query = '''
SELECT p.project_name, COUNT(DISTINCT e.dept_id) AS dept_count
FROM projects p
JOIN employee_projects ep ON p.project_id = ep.project_id
JOIN employees e ON ep.emp_id = e.emp_id
GROUP BY p.project_id;
'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
SELECT COUNT(*) AS employees_without_projects
FROM employees e
LEFT JOIN employee_projects ep ON e.emp_id = ep.emp_id
WHERE ep.project_id IS NULL;
'''
df = pd.read_sql_query(query, conn)
df

GROUP BY & HAVING

List department that have more than 3 employee

In [ ]:
query = '''
select dept_id ,count(*) as employe_count
from employees
GROUP BY dept_id
HAVING COUNT(*) >1;
'''
df = pd.read_sql_query(query, conn)
df

Find project where the average hours worked is more than 40

Aggregate
GROUP HAVING
HAVING

In [ ]:
query = '''
select project_id , avg(hours_worked) as avg_hours
from employee_projects
GROUP BY project_id
HAVING AVG(hours_worked) > 40
'''
df = pd.read_sql_query(query, conn)
df

SHOW department with an avg salary btw 5k to 7k

In [ ]:
query = '''
select d.dept_name, AVG(e.salary) as avg_salary
from department d
JOIN employees e ON d.dept_id = e.dept_id
GROUP BY d.dept_id
HAVING AVG(e.salary) BETWEEN 6000 and 7000;
'''

df = pd.read_sql_query(query, conn)
df

List project that have more than 2 employee assigned

In [ ]:
query = '''
select p.project_name, COUNT(ep.emp_id) as employé_count
from projects p
JOIN employee_projects ep ON p.project_id = ep.project_id
GROUP BY p.project_id
HAVING count(ep.emp_id) > 2;
'''
df = pd.read_sql_query(query, conn)
df

Find project with avg hours worked less than 35

In [ ]:
query = '''
select p.project_name, AVG(ep.hours_worked) as avg_hours
from projects p
JOIN employee_projects ep ON p.project_id = ep.project_id
GROUP BY p.project_id
HAVING AVG(ep.hours_worked) < 200;
'''
df = pd.read_sql_query(query, conn)
df

List department with the higest number of employee (top 1 only )

Find departments where the avg join year is before 2020

In [ ]:
query = '''
SELECT d.dept_name, AVG(STRFTIME('%Y', e.join_date)) AS avg_join_year
FROM employees e
JOIN department d ON e.dept_id = d.dept_id
GROUP BY d.dept_id
HAVING AVG(STRFTIME('%Y', e.join_date)) < 2021;
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
SELECT
    p.project_name,
    COUNT(DISTINCT e.dept_id) AS dept_count,
    GROUP_CONCAT(DISTINCT d.dept_name) AS departments_involved
FROM projects p
JOIN employee_projects ep ON p.project_id = ep.project_id
JOIN employees e ON ep.emp_id = e.emp_id
JOIN department d ON e.dept_id = d.dept_id
GROUP BY p.project_id, p.project_name;

'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select p.project_name , d.dept_name,Count(*) as dept_employee_count
from employee_projects ep
JOIN employees e ON ep.emp_id = e.emp_id
JOIN department d ON e.dept_id = d.dept_id
JOIN projects p ON ep.project_id = p.project_id
GROUP BY ep.project_id , e.dept_id
HAVING COUNT(*) =(
  select MAX(dept_count)
  FROM (
    select COUNT(*) as dept_count
    From employee_projects ep2
    JOIN employees e2 ON ep2.emp_id =e2.emp_id
    where ep2.project_id = ep.project_id
    Group by e2.dept_id
  )
);

'''
df = pd.read_sql_query(query, conn)
df

CASE STATEMENT

Show employees and categorize their salary level as "LOW" "MEDIUM' or HIGH

In [ ]:
query = '''
select emp_name,
salary,
CASE
  When salary < 4000 THEN 'LOW'
  WHEN salary BETWEEN 4000 AND 7000 THEN 'MEDIUM'
  ELSE 'HIGH'
end as salary_level
from employees
'''
df = pd.read_sql_query(query, conn)
df

List all employees and mark 'YES' or 'NO' if they are asigned to a project

In [ ]:
query = '''
select e.emp_name,
CASE
    When ep.emp_id IS NOT NULL THEN 'YES'
    ELSE 'NO'
end as assigned_to_project
FROM employees e
LEFT JOIN employee_projects ep ON e.emp_id = ep.emp_id
'''
df = pd.read_sql_query(query, conn)
df

Tag employee as 'experienced' if they join before 2020, else 'New'

In [ ]:
query = '''
select emp_name,
join_date,
CASE when join_date < '2020-01-01' THEN 'Experienced'
Else 'New'
end as exp_level
from employees
'''
df = pd.read_sql_query(query, conn)
df

Show employees with a custom message based on their department

In [ ]:
query = '''
select
emp_name,
d.dept_name,
CASE d.dept_name
when 'HR' THEN 'Handles hiring and polices'
When 'IT' THEN 'Responsible for Tech'
When 'Finance' Then 'Manage company finance'
else 'Other departments'
end as department_role
from employees e
JOIN department d ON e.dept_id = d.dept_id

'''
df = pd.read_sql_query(query, conn)
df

show employees load : high/medium/low based on avg hours per project

In [ ]:
query = '''
select e.emp_name,
count(ep.project_id) as project_count,
sum(ep.hours_worked) as total_hours,
case
when count(ep.project_id) = 0 Then 'No project'
when sum(ep.hours_worked) / count(ep.project_id) >= 40 Then 'High Load'
when sum(ep.hours_worked) / count(ep.project_id) BETWEEN 30 AND 40 THEN 'MEDIUM LOAD'
else 'Low Load'
end as worked_level
From employees e
Left join employee_projects ep ON e.emp_id = ep.emp_id
GROUP BY e.emp_id

'''
df = pd.read_sql_query(query, conn)
df

Exist

Find the employees who are assigned to at least one project

In [ ]:
query = '''
select emp_name
from employees e
where exists (
  select 1
  from employee_projects ep
  where ep.emp_id =e.emp_id

)

'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select distinct e.emp_name
from employees e
JOIN employee_projects ep ON e.emp_id =ep.emp_id

'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select   emp_name
from employees e
where emp_id IN (
  select emp_id from employee_projects
)


'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select   emp_name
from employees e
LEFT join employee_projects ep on e.emp_id =ep.emp_id
where ep.emp_id is not null


'''
df = pd.read_sql_query(query, conn)
df

Find employees who are not assigned any project

In [ ]:
query = '''
select emp_name
from employees e
where not exists (
  select 1
  from employee_projects ep
  where ep.emp_id =e.emp_id

)

'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select emp_name
from employees
where emp_id NOT IN (
  select emp_id from employee_projects
 )
'''
df = pd.read_sql_query(query, conn)
df

show project that have employees from the 'IT' departments

In [ ]:
query = '''
select Distinct p.project_name,e.emp_name
from projects p
join employee_projects ep on p.project_id = ep.project_id
JOIN employees e ON ep.emp_id = e.emp_id
JOIN department d on e.dept_id = d.dept_id
where d.dept_name = 'IT'

'''
df = pd.read_sql_query(query, conn)
df

exist

In [ ]:
query = '''
select Distinct p.project_name,e.emp_name
from projects p
join employee_projects ep on p.project_id = ep.project_id
JOIN employees e ON ep.emp_id = e.emp_id
where exists (
  select 1
  from department d
  where d.dept_id = e.dept_id
  and d.dept_name ='IT'

)
'''

df = pd.read_sql_query(query, conn)
df

List department that have no employees at all

In [ ]:
query = '''
select d.dept_name
from department d
where NOT exists (
  select 0 from employees e
  where e.dept_id = d.dept_id

)

'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select d.dept_name
from department d
LEFT JOIN employees e ON d.dept_id = e.dept_id
where e.emp_id IS NULL

'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select d.dept_name
from department d
where dept_id NOT IN (
  select distinct dept_id from employees where dept_id IS NOT NULL
)

'''

df = pd.read_sql_query(query, conn)
df

List department that have employees

In [ ]:
query = '''
select distinct  d.dept_name
from department d
JOIN employees e ON d.dept_id =e.dept_id

'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select d.dept_name
from department d
where dept_id IN (
  select distinct dept_id
  from employees
  where dept_id IS NOT NULL
)

'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select d.dept_name
from department d
join employees e ON d.dept_id = e.dept_id
group by d.dept_id
Having count(e.emp_id) > 0

'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select d.dept_name
from department d
where exists (
  select 1
  from employees e
  where e.dept_id = d.dept_id
)

'''

df = pd.read_sql_query(query, conn)
df

Show emp whose departments have more than 2 employees

In [ ]:
query = '''
select emp_name
from employees
where dept_id IN (
  select dept_id
  from employees
  group by dept_id
  having count(*) >1
)
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select e.emp_name
from employees e
JOIN (
  select dept_id
  from employees
  group by dept_id
  Having count(*)>1
) dept_grouped ON e.dept_id = dept_grouped.dept_id
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select emp_name
from employees e
where exists (
  select 1
  from employees e2
  where e2.dept_id = e.dept_id
  group by e2.dept_id
  having count(*)> 1
)
'''

df = pd.read_sql_query(query, conn)
df

Find employees who work on the same project as "ali"

In [ ]:
query = '''
select emp_name
from employees
where emp_id IN (
  select emp_id
  from employee_projects
  where project_id IN (
    select project_id
    from employee_projects ep
    JOIN employees e ON ep.emp_id =e.emp_id
    where e.emp_name ='Ali'
  )
)
and emp_name <> 'Ali'

'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select e2.emp_name
from employees e1
JOIN employee_projects ep1 ON e1.emp_id = ep1.emp_id
JOIN employee_projects ep2 ON ep1.project_id = ep2.project_id
JOIN employees e2 ON ep2.emp_id = e2.emp_id
where e1.emp_name ='Ali' and e2.emp_name <> 'Ali'


'''
df = pd.read_sql_query(query, conn)
df

Union

List all unique department IDs and project id

In [ ]:
query = '''
select dept_id from employees
UNION
select project_id from employee_projects

'''
df = pd.read_sql_query(query, conn)
df

Get names of all employee and all department ( as a single list)

In [ ]:
query = '''
select emp_name as name from employees
UNION
select dept_name from department
'''
df = pd.read_sql_query(query, conn)
df

Find employees who are either in the 'IT' department or assigned to 'project as
alpha'

In [ ]:
query = '''
select emp_name from employees e
JOIN department  d ON e.dept_id = d.dept_id
Where d.dept_name ='IT'

UNION

select ep.emp_id from employee_projects ep
JOIN projects p ON ep.project_id = p.project_id
where p.project_name ='Project Alpha'
'''
df = pd.read_sql_query(query, conn)
df

Find employees who are in 'sales' or 'Marketing' but not assigned any projects

In [ ]:
query = '''
select e.emp_id from employees e
JOIN department d ON e.dept_id = d.dept_id
where d.dept_name IN ('Sales' , 'Marketing')

Except

select emp_id from employee_projects
'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select e.emp_id,e.emp_name
from employees e
JOIN department d ON e.dept_id = d.dept_id
Where d.dept_name IN ('Sales', 'Marketing')
and e.emp_id NOT IN (
  select emp_id from employee_projects
)
'''
df = pd.read_sql_query(query, conn)
df

In [ ]:
List all employees who are either in HR or working on project Beta

In [ ]:
query = '''
select e.emp_name from employees e
JOIN department d ON e.dept_id =d.dept_id
Where d.dept_name = 'HR'

UNION

select e.emp_name from employees e
JOIN employee_projects ep ON e.emp_id = ep.emp_id
JOIN projects p ON ep.project_id = p.project_id
Where p.project_name = 'Project Beta'
'''
df = pd.read_sql_query(query, conn)
df

List employees who either joined in or after 2020 or are working on project alpha

In [ ]:
query = '''
select emp_name from employees
where join_date >= 2020

UNION

select e.emp_name from employees e
JOIN employee_projects ep ON e.emp_id = ep.emp_id
JOIN projects p ON ep.project_id = p.project_id
Where p.project_name = 'Project Alpha'
'''
df = pd.read_sql_query(query, conn)
df

List all unique name of departments  and projects that start with 'F'

In [ ]:
query = '''
select dept_name as Name from department
where dept_name Like 'S%'

UNION

select project_name from projects
where project_name Like 'A%'
'''
df = pd.read_sql_query(query, conn)
df

List name of employee who are assigned to both 'project Alpha' and 'project Beta'

In [ ]:
query = '''
select e.emp_name
from employees e
where Exists (
  select 1
  from employee_projects ep
  JOIN projects p ON ep.project_id =p.project_id
  where ep.emp_id = e.emp_id and p.project_name = 'Project Omega'
)

and Exists (
  select 1
  from employee_projects ep
  JOIN projects p ON ep.project_id =p.project_id
  where ep.emp_id = e.emp_id and p.project_name = 'Project Beta'

)

'''
df = pd.read_sql_query(query, conn)
df

ANY & All

Employee whose ID is greater than any employees in the 'IT' department

In [ ]:
query = '''
select emp_name
from employees
where emp_id > (
  select MIN(e.emp_id)
  from employees e
  JOIN department d ON e.dept_id = d.dept_id
  where d.dept_name ='IT'
)
'''

df = pd.read_sql_query(query, conn)
df

Find employees whose id is greater than all employee in the HR department

In [ ]:
query = '''
select emp_name
from employees
where emp_id > ALL (
  select emp_id from employees e
  JOIN department d ON e.dept_id = d.dept_id
  Where d.dept_name = 'HR'
)
'''

df = pd.read_sql_query(query, conn)
df

Sub query: A subquery ( also inner query or nested query ) is a query inside another query

Filter data

perform comparisons

Find employee who belong to 'IT' departments

In [ ]:
query = """
Select emp_name
from employees
where dept_id = (
  Select dept_id from department where dept_name = 'IT'
)
"""

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select emp_name
from employees e
JOIN department d ON e.dept_id = d.dept_id
where d.dept_name = 'IT'
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select emp_name
from employees
Natural Join department
where dept_name = 'IT'
'''

df = pd.read_sql_query(query, conn)
df

Find employees who earn more than average salary

In [ ]:
query = '''
select emp_name ,salary
from employees
Where salary > (
  select AVG(salary)
  from employees
)
'''

df = pd.read_sql_query(query, conn)
df

List project that 'ALI' is not working on

IS NULL

In [ ]:
query = '''
select p.project_name
from projects p
LEFT JOIN employee_projects ep ON p.project_id = ep.project_id
LEFT JOIN employees e ON ep.emp_id = e.emp_id AND e.emp_name ='Ali'
where e.emp_id IS NULL
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select p.project_name
from projects p
LEFT JOIN employee_projects ep ON p.project_id = ep.project_id
LEFT JOIN employees e ON ep.emp_id = e.emp_id
where e.emp_name != 'Ali'
'''

df = pd.read_sql_query(query, conn)
df

Except

In [ ]:
query = '''
select project_name
from projects
EXCEPT
select p.project_name
from projects p
LEFT JOIN employee_projects ep ON p.project_id = ep.project_id
LEFT JOIN employees e ON ep.emp_id = e.emp_id
where e.emp_name = 'Ali'
'''

df = pd.read_sql_query(query, conn)
df

NOT EXIST

In [ ]:
query = '''
select project_name
from projects p
where NOT EXISTS (
  select 1
  from employee_projects ep
  JOIN employees e ON ep.emp_id = e.emp_id
  Where e.emp_name = 'Ali' AND ep.project_id = p.project_id
)
'''

df = pd.read_sql_query(query, conn)
df

NOT IN

In [ ]:
query = '''
select project_name
from projects
where project_id NOT IN (
  select project_id
  from employee_projects ep
  JOIN employees  e ON ep.emp_id = e.emp_id
  where e.emp_name = 'Ali'
)
'''

df = pd.read_sql_query(query, conn)
df

Show employees whose departments  has more than 2 employees

In [ ]:
query = '''
select e.emp_name,d.dept_name
from employees e
JOIN department d ON e.dept_id = d.dept_id
where e.dept_id IN (
  select dept_id
  from employees
  Group by dept_id
  Having count(*) >=  2
  )
'''

df = pd.read_sql_query(query, conn)
df

Find employees who belong to the same departments as 'Ali'

In [ ]:
query = '''
select emp_id
  from employee_projects
  Group by emp_id
  order by count(*) desc
'''

df = pd.read_sql_query(query, conn)
df

Find all employee who work same project as Mohd

In [ ]:
query = '''
select emp_name
from employees
where emp_id IN (
  select emp_id
  from employee_projects
  where project_id IN (
    select project_id
    from employee_projects
    where emp_id = (
      select emp_id From employees where emp_name ='Mohd'
    )
  )
)
And emp_name != 'Mohd'
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
SELECT  2
    FROM employee_projects ep
    JOIN employees e ON ep.emp_id = e.emp_id
    join projects p on ep.project_id = p.project_id
    WHERE
    e.dept_id = (SELECT dept_id FROM department WHERE dept_name = 'IT')
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
SELECT project_name
FROM projects p
WHERE EXISTS (
    SELECT 1
    FROM employee_projects ep
    JOIN employees e ON ep.emp_id = e.emp_id
    WHERE ep.project_id = p.project_id
    AND e.dept_id = (SELECT dept_id FROM department WHERE dept_name = 'IT')
)

'''

df = pd.read_sql_query(query, conn)
df

Introduction to SQL

Database ,table,row,column,concept

select statement

where

order by

limit/offset

Distinct

Aliases

AND/OR/NOT

Between ,IN,NOT IN

LIKE

IS NULL / IS NOT NULL

COUNT(),SUM(),AVG(),MIN(),MAX()

GROUP BY

HAVING

JOINS

INNER JOIN

LEFT JOIN

RIGHT JOIN

FULL OUTER JOIN

NESTED queries (SUB queries )

UNION/UNION ALL

INTERSECT

EXCEPT

CASE WHEN THEN ELSE END

IF /NULL IF

WINDOW FUNTION

AGGREGATE
COUNT(),SUM(),AVG(),MIN(),MAX()


ROW_NUMBER(),RANK(),DENSE()

CTE (COMMON TABLE EXPRESSION)


VIEWS
Indexes
Data Modeling
Query opt.

Window Funtion: A window funtion is a special type of funtion in sql that let you perform calculation across rows

Show each employee and the total number of employee in their department

In [ ]:
query = '''
select emp_name,dept_id,
count(*) OVER(PARTITION BY dept_id) as total_in_dept
from employees;
'''

df = pd.read_sql_query(query, conn)
df

Show each employee and there average salary in their departments

In [ ]:
query = '''
Select emp_name,dept_id,salary,
AVG(salary) OVER (PARTITION BY dept_id ) as avg_dept_salary
From employees;
'''

df = pd.read_sql_query(query, conn)
df

Show each employees and their departments max salary

In [ ]:
query = '''
Select emp_name,dept_id,salary,
Max(salary) OVER (PARTITION BY dept_id ) as max_dept_salary
From employees;
'''

df = pd.read_sql_query(query, conn)
df

Get difference in salary between  each employee and the average salary in their department

In [ ]:
query = '''
select emp_name,dept_id,salary,
AVG(salary) OVER (PARTITION BY dept_id ) as avg_dept_salary,
salary - AVG(salary) OVER (PARTITION BY dept_id ) as diff_from_avg
from employees;
'''

df = pd.read_sql_query(query, conn)
df

display each project and total hours worked by all employees on that project

In [ ]:
query = '''
select p.project_name,ep.emp_id,ep.hours_worked,
SUM(hours_worked) OVER (PARTITION BY p.project_id) as total_hours_on_projects
from employee_projects ep
JOIN projects p ON ep.project_id = p.project_id
'''

df = pd.read_sql_query(query, conn)
df

For each employee , show total number of project assigned and cumulative hour worked

In [ ]:
query = '''
select emp_id,
COUNT(project_id) OVER (PARTITION BY emp_id ) as total_project,
SUM(hours_worked) OVER (PARTITION BY emp_id ) as total_hours
from employee_projects
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select
e.emp_name,
p.project_name,
ep.hours_worked,

COUNT(*) OVER (PARTITION BY e.emp_id ) as total_project,
SUM(ep.hours_worked) OVER (PARTITION BY e.emp_id ) as total_hours

From employees e

JOIN employee_projects ep ON e.emp_id = ep.emp_id
JOIN projects p ON ep.project_id = p.project_id
order by e.emp_name

'''

df = pd.read_sql_query(query, conn)
df

show departments where the top salary is greater than 5000

In [ ]:
query = '''
select emp_name,dept_id,salary,max_salary_in_dept
from (
  select emp_name,dept_id, salary ,
  MAX(salary) OVER (PARTITION BY dept_id ) as max_salary_in_dept
  from employees
)
where max_salary_in_dept> 5000;

'''

df = pd.read_sql_query(query, conn)
df

Show each employees joining date and the earlist join date in their department

In [ ]:
query = '''
SELECT emp_name, dept_id, salary
FROM (
    SELECT emp_name, dept_id, salary,
           AVG(salary) OVER (PARTITION BY dept_id) AS avg_salary
    FROM employees
) AS sub
WHERE salary > avg_salary;
'''

df = pd.read_sql_query(query, conn)
df

COUNT(),SUM(),AVG(),MIN(),MAX()

Q1. show each employees ,their department and the total number of employees in the departments

For each project ,show the total hours worked by employee

For each department, show employees whose salary is above the average salary of their department

show wmployeess with higest salary

show employees with the lowest salary in each department

Assign a row number to each employees

In [ ]:
query = '''
select emp_id,emp_name,
row_number() OVER (order by emp_id) as row_num
from employees ;

'''

df = pd.read_sql_query(query, conn)
df

Row number by department (orderd by name)

In [ ]:
query = '''
select emp_id,emp_name,dept_id,
ROW_NUMBER() OVER (PARTITION BY dept_id order by emp_name) as row_num
from employees;
'''

df = pd.read_sql_query(query, conn)
df

show the second highest salary employees in each departments

In [ ]:
query = '''
select *
from (
  select emp_id,emp_name,dept_id,salary,
  row_number() OVER (Partition by dept_id ORDER by salary desc) as rn
  from employees
) t

'''

df = pd.read_sql_query(query, conn)
df

List employee in order of joining date with row number

In [ ]:
query = '''
select emp_id,emp_name,join_date,
ROW_NUMBER() Over (order by join_date) as row_num
from employees

'''

df = pd.read_sql_query(query, conn)
df

Assign row numbers to employee within each project

In [ ]:
query = '''
select ep.emp_id, e.emp_name,ep.project_id,p.project_name,
ROW_NUMBER() OVER (PARTITION BY ep.project_id ORDER BY e.emp_name) as row_num
From employee_projects ep
join employees e ON ep.emp_id =e.emp_id
JOIN projects p ON ep.project_id =p.project_id
'''

df = pd.read_sql_query(query, conn)
df

Find the 3 highest paid employee in the entire company

In [ ]:
query = '''
select *
from (
  select emp_id,emp_name,salary,
  ROW_NUMBER() OVER(order by salary desc) as rn
  from employees
) t

'''

df = pd.read_sql_query(query, conn)
df

List employee with the same salary rank within their departments (use rank)

In [ ]:
query = '''
select e.emp_id,e.emp_name,e.dept_id,e.salary,d.dept_name,
Rank() Over (partition by e.dept_id order by salary desc) as salary_rank
from employees e
JOIN department d ON e.dept_id=d.dept_id;

'''

df = pd.read_sql_query(query, conn)
df

show 2,3 employee alphabetically in each departments

In [ ]:
query = '''
select r.emp_id,r.emp_name,r.dept_id,d.dept_name,row_num
from (
  select e.emp_id,e.emp_name,e.dept_id,
  row_number() Over (PARTITION BY e.dept_id order by e.emp_name) as row_num
  from employees e
) as r
JOIN department d ON r.dept_id = d.dept_id

'''

df = pd.read_sql_query(query, conn)
df

assign row number to employee in each department

In [ ]:
query = '''
select emp_id,emp_name,dept_id,
ROW_NUMBER() OVER (PARTITION BY dept_id ORDER BY emp_name) as dept_row_number
from employees
'''

df = pd.read_sql_query(query, conn)
df

List employee in each departments  by salary with both RANK() and DENSE RANK()

In [ ]:
query = '''
select emp_id,emp_name,dept_id,salary,
RANK() OVER (PARTITION BY dept_id ORDER BY salary desc) as rnk,
DENSE_RANK() OVER (PARTITION BY dept_id ORDER BY salary DESC) as dense_rank
from employees ;
'''

df = pd.read_sql_query(query, conn)
df

CTE = common table expression

CTE is a temporary result which is define using the WITH keyword

In [ ]:
With cte_name as(
    select.....
)
select * from cte_name;

Get employees with salary above average

In [ ]:
query = '''
With avg_salary as (
  select avg(salary) as avg_sal from employees
)
select emp_id,emp_name,salary
from employees ,avg_salary
where employees.salary > avg_salary.avg_sal
'''

df = pd.read_sql_query(query, conn)
df

   emp_id emp_name  salary
0       2     Mohd    6000
1       5    Ahmed    6500
2       7     John    7000
3       8    Priya    5800
4       9    David    6200
5      12   Sophia    5900
6      13   Robert    6700
7      15   Daniel    7100

Show department with more than 2 employee

In [ ]:
query = '''
With emp_count as (
  select dept_id,count(*) as emp_total
  from employees
  group by dept_id
)
select * from emp_count
where emp_total > 1;
'''

df = pd.read_sql_query(query, conn)
df

   dept_id  emp_total
0      102          2
1      103          2
2      106          2
3      108          2

Find all employee assigned to "Project Alfa" using CTE

In [ ]:
query = '''
With project_alpha_emp as (
    select ep.emp_id
    from employee_projects ep
    JOIN projects p ON ep.project_id = p.project_id
    where p.project_name = 'Project Alpha'
)
select e.emp_id,e.emp_name
from employees e
Join project_alpha_emp pa ON e.emp_id = pa.emp_id

'''

df = pd.read_sql_query(query, conn)
df

   emp_id emp_name
0       1      Ali
1       2     Mohd
2       7     John
3       9    David
4      12   Sophia

get each departments avg salary ,then list employee above it with cte

In [ ]:
query = '''
With dept_avg as (
  select dept_id ,avg(salary) as avg_sal
  from employees
  group by dept_id
)
select e.emp_id,e.emp_name,e.salary,d.avg_sal
from employees e
JOIN dept_avg d ON e.dept_id =d.dept_id
where e.salary > d.avg_sal;
'''

df = pd.read_sql_query(query, conn)
df

   emp_id emp_name  salary  avg_sal
0       7     John    7000   6200.0
1       9    David    6200   6100.0
2      13   Robert    6700   6100.0
3      15   Daniel    7100   6450.0

list employee who are working on more than 1 project

In [ ]:
query = '''
with emp_project_count as (
  select emp_id,count(*) as project_count
  from employee_projects
  group by emp_id
)
select e.emp_id,e.emp_name,project_count
from employees e
JOIN emp_project_count ep ON e.emp_id = ep.emp_id
where project_count >1;
'''

df = pd.read_sql_query(query, conn)
df

    emp_id emp_name  project_count
0        1      Ali              2
1        2     Mohd              2
2        3    Rahul              2
3        4      Raj              2
4        5    Ahmed              2
5        6    Sneha              2
6        7     John              2
7        8    Priya              2
8        9    David              2
9       10   Anjali              2
10      11  Michael              2
11      12   Sophia              2
12      13   Robert              2
13      15   Daniel              2

Find the higest paid employees in each department

In [ ]:
query = '''
With ranked_salary as (
  select emp_id,emp_name,dept_id,salary,
  Rank() OVER (PARTITION BY dept_id ORDER BY salary desc) as rnk
  from employees
)
select * from ranked_salary
where rnk=1;
'''

df = pd.read_sql_query(query, conn)
df

    emp_id emp_name  dept_id  salary  rnk
0        4      Raj      NaN    4500    1
1        1      Ali    101.0    5000    1
2        9    David    102.0    6200    1
3       13   Robert    103.0    6700    1
4        6    Sneha    104.0    5200    1
5        5    Ahmed    105.0    6500    1
6        7     John    106.0    7000    1
7       12   Sophia    107.0    5900    1
8       15   Daniel    108.0    7100    1
9       10   Anjali    109.0    4800    1
10      11  Michael    110.0    5300    1

List department where all employee have salary > 5000

In [ ]:
query = '''
with dept_emp as (
  select dept_id,salary as min_sal
  from employees
  group by dept_id

)
select d.dept_id,dept_name
from department d
JOIN dept_emp dm ON d.dept_id = dm.dept_id
where dm.min_sal>5000;
'''

df = pd.read_sql_query(query, conn)
df

   dept_id               dept_name
0      102                      IT
1      103                 Finance
2      104                   Sales
3      105                 Finance
4      106               Marketing
5      107              Operations
6      108  Research & Development
7      110       Quality Assurance

query = '''
select dept_id
from employees
Group by dept_id
HAVING MIN(salary) > 5000
'''

df = pd.read_sql_query(query, conn)
df

In [ ]:
query = '''
select dept_id
from employees
Group by dept_id
HAVING MIN(salary) > 5000
'''

df = pd.read_sql_query(query, conn)
df

   dept_id
0      102
1      103
2      104
3      105
4      106
5      107
6      108
7      110

List employee not assigned to any project

In [ ]:
query = '''
With assigned_emp as (
  select distinct emp_id from employee_projects
)

select e.emp_id,e.emp_name
from employees e
JOIN assigned_emp a ON e.emp_id =a.emp_id
where a.emp_id IS NULL;
'''

df = pd.read_sql_query(query, conn)
df

Empty DataFrame
Columns: [emp_id, emp_name]
Index: []

List employee who have the maximum salary in their departments

In [ ]:
query = '''
With dept_max_sal as (
  select dept_id,MAX(salary) as max_salary
  from employees
  group by dept_id
)
select e.emp_name,e.salary,d.dept_name
from employees e
JOIN dept_max_sal dms ON e.dept_id =dms.dept_id  and e.salary =dms.max_salary
JOIN department d ON e.dept_id =d.dept_id
'''

df = pd.read_sql_query(query, conn)
df

  emp_name  salary               dept_name
0      Ali    5000                      HR
1    Ahmed    6500                 Finance
2    Sneha    5200                   Sales
3     John    7000               Marketing
4    David    6200                      IT
5   Anjali    4800        Customer Support
6  Michael    5300       Quality Assurance
7   Sophia    5900              Operations
8   Robert    6700                 Finance
9   Daniel    7100  Research & Development

list employee who earn more than average salary of all employee

IF /NULL IF

If (condition)
it return one value if the condition is true and another value if false

  /NULL IF
return NULL if emp1=emp2 ,otherwise return emp1

Show employee name and flag 'Yes' if their salary is grater than 5000 else 'no'

In [ ]:
query = '''
select emp_name,
    IF(salary > 5000,'Yes','NO') as high_paid
from employees
'''

df = pd.read_sql_query(query, conn)
df

DatabaseError: Execution failed on sql '
select emp_name,
    IF(salary > 5000,'Yes','NO') as high_paid
from employees
': no such function: IF

Replace 0 project hours with NULL using NULLIF()

In [ ]:
query = '''
select emp_id,project_id,
NULLIF(hours_worked,0) as valid_hours
from employee_projects;
'''

df = pd.read_sql_query(query, conn)
df

Show employee with 'Same' or 'Differnt' label depending on their dept_id equals 103

In [ ]:
query = '''
select emp_name,
IF(dept_id = 103,'Same','Differnt') as dept_check
from employees;
'''

df = pd.read_sql_query(query, conn)
df

DatabaseError: Execution failed on sql '
select emp_name,
IF(dept_id = 103,'Same','Differnt') as dept_check
from employees;
': no such function: IF

Avoid showing duplicate dept_id 103 by replacing it with null

In [ ]:
query = '''
select emp_name,
NULLIF(dept_id ,103) as updated_dept
from employee
'''

df = pd.read_sql_query(query, conn)
df